<!DOCTYPE html>
<html>
<head>
    <title>分配详情</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../css/all-skins.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../css/main.css">
    <style type="text/css">
        .custom-div{
            padding: 10px;
            border: 1px solid #ddd;
            width: 315px;
            height: 110px;
            font-size: 15px;
            display:table-cell;/*IE8以上及Chrome、Firefox*/
            vertical-align:middle;/*IE8以上及Chrome、Firefox*/
        }
        .custom-div label{
            margin-right: 15px;
        }

    </style>
    <style>
        .toptitle{font-size:18px;font-weight: bolder}
        .topcontent{font-size: 2em;font-weight: bolder}
    </style>
    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../libs/bootstrap-table.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>

<div id="rrapp" v-cloak>
    <div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class=""><a href="tasksNotAllot.html">工作任务</a></li>
                <li class="active"><a href="#">分配详情</a></li>
            </ul>
            <!-- /.tab-content -->
        </div>
        <div class="container-fluid">
            <div class="col-md-4 " >
                <div class="custom-div"><label class="toptitle">跟踪人员数量</label> <a  href="javascript:;"  class="topcontent">{{dto.trackerCount}}</a></div>
            </div>
            <div class="col-md-4 ">
                <div class="custom-div">
                    <label class="toptitle">今日已分配数量</label><a href="javascript:;" onclick="toItemDetails()"  class="topcontent">{{dto.dayTaskCount}}</a>
                </div>
            </div>
            <div class="col-md-4  "style="margin-bottom: 10px;">
                <div class="custom-div">
                    <label class="toptitle">今日全额/部分回款数量</label> <a  href="javascript:;"  onclick="toItemDetails()" class="topcontent">{{dto.dayRepayCount +"/"+ dto.dayPortionRepayCount}}</a></br>
                    <label class="toptitle">今日回款金额</label> <a  href="javascript:;"  class="topcontent">{{dto.dayRepayAmount}}</a>
                </div>
            </div>

            <div class="col-md-4 ">
                <div class="custom-div"><label class="toptitle">待回款数量</label><a  href="javascript:;"  onclick="toItemDetails()" class="topcontent">{{dto.taskCount}}</a></div>
            </div>
            <div class="col-md-4 ">
                <div class="custom-div"><label class="toptitle">待回款金额</label><a  href="javascript:;"  onclick="toItemDetails()" class="topcontent">{{dto.taskAmount}}</a></div>
            </div>
            <div class="col-md-4 " style="margin-bottom: 10px;">
                <div class="custom-div">
                    <label class="toptitle">本月全额/部分回款数量</label> <a  href="javascript:;"  onclick="toItemDetails()"  class="topcontent">{{dto.monthRepayCount+"/"+ dto.monthPortionRepayCount}}</a>
                    </br>
                    <label class="toptitle">本月回款金额</label> <a  href="javascript:;"  class="topcontent">{{dto.monthRepayAmount}}</a>
                </div>
            </div>
        </div>
        <div class="grid-btn">
            <a class="btn btn-default" @click="exportData">导出数据</a>
        </div>

        <table id="jqGrid" ></table>
        <div id="jqGridPager"></div>

    </div>

</div>


<script src="../../js/collection/details.js"></script>
</body>
</html>