<!DOCTYPE html>
<html>
<head>
	<title>跟踪人详情</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/font-awesome.min.css">
	<link rel="stylesheet" href="../../css/AdminLTE.min.css">
	<!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
	<link rel="stylesheet" href="../../css/all-skins.min.css">
	<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
	<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
	<link rel="stylesheet" href="../../css/bootstrap-table.min.css">
	<link rel="stylesheet" href="../../css/main.css">
	<style type="text/css">
		.custom-div {
			padding: 10px;
			border: 1px solid #ddd;
			width: 250px;
			height: 100px;
			font-size: 15px;
			display: table-cell; /*IE8以上及Chrome、Firefox*/
			vertical-align: middle; /*IE8以上及Chrome、Firefox*/
		}

		.custom-div label {
			margin-right: 15px;
		}

		.pbottom{
			padding-bottom: 10px;
		}


	</style>
	<script src="../../libs/jquery.min.js"></script>
	<script src="../../plugins/layer/layer.js"></script>
	<script src="../../libs/bootstrap.min.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../libs/bootstrap-table.min.js"></script>
	<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
	<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
	<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
	<script src="../../js/common.js"></script>
	<script src="../../plugins/datepicker/bootstrap-datepicker.js"></script>
	<script src="../../plugins/datepicker/bootstrap-datepicker.zh-CN.js"></script>
	<style>
		.toptitle{font-size:18px;font-weight: bolder}
		.topcontent{font-size: 2em;font-weight: bolder}
	</style>
</head>
<body>

<div id="rrapp" v-cloak>
	<div>
		<div class="container-fluid">
			<div class="col-md-3">
				<div class="custom-div" style="margin-bottom: 10px;">
					<label class="toptitle">分配标的数量</label><a href="#" class="topcontent">{{dto.taskCount}}</a>
				</div>
			</div>
			<div class="col-md-3" style="margin-bottom: 10px;">
				<div class="custom-div">
					<label class="toptitle">全额回款数量</label><a href="#" class="topcontent">{{dto.repayCount}}</a>
				</div>
			</div>
			<div class="col-md-3" style="margin-bottom: 10px;">
				<div class="custom-div"><label class="toptitle">回收率(数量)</label><a href="#" class="topcontent">{{dto.repayCountPercent}}</a></div>
			</div>
			<div class="col-md-3" style="margin-bottom: 10px;">
				<div class="custom-div"><label class="toptitle">回款金额</label><a href="#" class="topcontent">{{dto.repayAmount}}</a></div>
			</div>
			<div class="col-md-3" style="margin-bottom: 10px;">
				<div class="custom-div"><label class="toptitle">回收率(金额)</label><a href="#" class="topcontent">{{dto.repayAmountPercent}}</a></div>
			</div>

		</div>


		<div class="container-fluid">
			<form class="form-inline" id="searchForm">
				<div class="row">
					<div class="col-md-3">
						<div style="margin-bottom: 10px;">
							<label for="realName">客户姓名:</label>
							<input id="realName" class="form-control" type="text" v-model="q.realName" >
						</div>
						<div style="margin-bottom: 10px;">
							<label for="telNo">手机号码:</label>
							<input id="telNo" class="form-control" v-model="q.telNo"/>
						</div>
						<div style="margin-bottom: 10px;">
							<label for="repayType">回款类型:</label>
							<select id="repayType" class="form-control" v-model="q.repayType">
								<option  value="" >=全部=</option>
								<option value="1">未回款</option>
							<!--	<option value="2">部分回款</option>-->
								<option value="3">全部回款</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div style="margin-bottom: 10px;">
							<label for="repayStatus">还款状态:</label>
							<select id="repayStatus" class="form-control" v-model="q.repayStatus">
								<option value="" >=全部=</option>
								<option value="6">已完成</option>
								<option value="7">已逾期</option>
								<option value="8">严重逾期</option>
							</select>
						</div>
						<div style="margin-bottom: 10px;">
							<label for="overdueMinDay">逾期天数:</label>
							<input id="overdueMinDay" class="form-control" style="width: 5em" v-model="q.overdueMinDay"/> ~
							<input id="overdueMaxDay" class="form-control" style="width: 5em" v-model="q.overdueMaxDay"/> 天
						</div>
						<div style="margin-bottom: 10px;">
							<a class="btn btn-primary" @click="query" style="margin-right: 30px">查 询</a>
							<a class="btn btn-primary"   @click="reset" style="margin-right: 30px">重 置</a>
							<a class="btn btn-primary " @click="exportData" style="margin-right: 30px">导 出 数 据</a>
						</div>
					</div>
					<div class="col-md-4">
						<div style="margin-bottom: 10px;">
							<label for="repayBDate">还款时间:</label>
							<div class="input-daterange input-group" >
								<input id="repayBDate" type="text" class="form-control" style="width: 10em" v-model="q.repayBDate" readonly="true"/>
								<span class="input-group-addon">至</span>
								<input id="repayEDate" type="text" class="form-control" style="width: 10em" v-model="q.repayEDate" readonly="true"/>
							</div>
						</div>
						<div style="margin-bottom: 10px;">
							<label for="allocateSDate">分配时间:</label>
							<div class="input-daterange input-group" >
								<input id="allocateSDate" type="text" class="form-control" style="width: 10em" v-model="q.allocateSDate" readonly="true"/>
								<span class="input-group-addon">至</span>
								<input id="allocateEDate" type="text" class="form-control" style="width: 10em" v-model="q.allocateEDate" readonly="true"/>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<table id="jqGrid"></table>
	<div id="jqGridPager"></div>

</div>

</div>


<script src="../../js/collection/trackerinfos.js"></script>
<script>
    $('#repayBDate').datepicker({
        language:  'zh-CN',
        todayBtn:  'linked',
        autoclose: true,
        todayHighlight: 1,
        startView: 0,
        format:'yyyy-mm-dd',
        clearBtn:true,
        forceParse:true
    }).on('changeDate',function(e){
        var startTime = e.date;
        $('#repayEDate').datepicker('setStartDate',startTime);
    });

    $('#repayEDate').datepicker({
        language:  'zh-CN',
        todayBtn:  'linked',
        autoclose: true,
        todayHighlight: 1,
        startView: 0,
        format:'yyyy-mm-dd',
        clearBtn:true,
        forceParse:true
    }).on('changeDate',function(e){
        var endTime = e.date;
        $('#repayBDate').datepicker('setEndDate',endTime);
    });

    $('#allocateSDate').datepicker({
        language:  'zh-CN',
        todayBtn:  'linked',
        autoclose: true,
        todayHighlight: 1,
        startView: 0,
        format:'yyyy-mm-dd',
        clearBtn:true,
        forceParse:true
    }).on('changeDate',function(e){
        var startTime = e.date;
        $('#allocateEDate').datepicker('setStartDate',startTime);
    });

    $('#allocateEDate').datepicker({
        language:  'zh-CN',
        todayBtn:  'linked',
        autoclose: true,
        todayHighlight: 1,
        startView: 0,
        format:'yyyy-mm-dd',
        clearBtn:true,
        forceParse:true
    }).on('changeDate',function(e){
        var endTime = e.date;
        $('#allocateSDate').datepicker('setEndDate',endTime);
    });
</script>
</body>
</html>