.ax_default {
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    text-align: center;
    line-height: normal;
}

#u1994_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1326px;
    height: 1592px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(228, 228, 228, 1);
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u1994 {
    position: absolute;
    /*left: 250px;
    top: 112px;*/
    width: 1326px;
    height: 1592px;
}

.box_1 {
    position: absolute;
    width: 1280px;
    height: 39px;
    left: 20px;
}

.box_2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1280px;
    background: inherit;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2211 {
    top: 10px;
}

.u2211_div {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1280px;
    height: 39px;
    background: inherit;
    background-color: rgba(153, 153, 153, 1);
    border: none;
    border-radius: 0px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.u2213 {
    top: 12px;
    position: absolute;
    left: 1246px;
    width: 18px;
    height: 18px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#u2213_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
}

.u2215 {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 70px;
    height: 21px;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
}

#u2217_div {
    height: 153px;
}

#u2217 {
    position: absolute;
    left: 20px;
    top: 50px;
    width: 1280px;
    height: 133px;
}

#u2219 {
    position: absolute;
    left: 43px;
    top: 75px;
    width: 1236px;
    height: 173px;
}

#u2219 table {
    border-collapse: collapse;
    border: 1px solid #D5D4D4;
    width: 1231px;
}

#u2219 td {
    border: 1px solid #D5D4D4;
    height: 42px;
    color: #666666;
    border-color: #d5d4d4;
}

#u2219 tr:nth-child(odd) {
    background: #eaeaea;
    font-weight: 700;
}

#u2219 tr:nth-child(even) {
    background: #ffffff;
}

#u2220 {
    top: 280px;
}

.u2222_img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
}

#u2224_div {
    height: 153px;
}

#u2224 {
    position: absolute;
    left: 20px;
    top: 320px;
    width: 1280px;
    height: 153px;
}

#u2225 {
    position: absolute;
    left: 43px;
    top: 340px;
    width: 1231px;
    height: 105px;
    background-color: #FFFFFF;
}

#u2226 {
    position: absolute;
    left: 63px;
    top: 340px;
    font-size: 14px;
}

.u2544 {
    position: absolute;
    left: 95px;
    top: 10px;
    width: 46px;
    height: 24px;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #FFFFFF;
    background-color: rgba(54, 127, 169, 1);
}

#u2545 {
    position: absolute;
    top: 3px;
    left: 1px;
    width: 42px;
    height: 24px;
    word-wrap: break-word;
}

/*#u2545_div {
    visibility: hidden;
    position: fixed;
    left: 270px;
    top: 70px;
    width: 819px;
    height: 469px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    border-radius: 2px;
    z-index: 1;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}*/

.u2545_img1 {
    position: absolute;
    left: 13px;
    top: 12px;
    width: 16px;
    height: 16px;
}

#u2545_txt {
    position: absolute;
    left: 4px;
    top: 8px;
    width: 117px;
    height: 30px;
    font-family: '微软雅黑 Bold', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
}

#u2545_img2 {
    position: absolute;
    left: 760px;
    top: 9px;
    width: 16px;
    height: 16px;
    overflow-x: hidden;
    background-image: none;
    cursor: pointer;
}

#u2545_imga {
    position: absolute;
    left: 0px;
    top: -32px;
    width: 16px;
    height: 384px;
}

#u2545_img3 {
    position: absolute;
    left: 787px;
    top: 9px;
    width: 16px;
    height: 16px;
    overflow-x: hidden;
    background-image: none;
    cursor: pointer;
}

#u2545_div2 {
    position: absolute;
    left: 7px;
    top: 32px;
    width: 802px;
    height: 427px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
}

#u2545_txt2 {
    position: absolute;
    left: 50px;
    top: 40px;
    width: 80px;
    font-size: 14px;
}

#u2545_txt3 {
    position: absolute;
    left: 130px;
    top: 40px;
}

#u2545_txt3 textarea {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 593px;
    height: 276px;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    text-decoration: none;
    text-align: left;
    resize: none;
}

#u2545_dtn1 {
    position: absolute;
    left: 130px;
    top: 350px;
    width: 112px;
    height: 35px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    line-height: 35px;
    cursor: pointer;
}

#u2545_dtn2 {
    position: absolute;
    left: 280px;
    top: 350px;
    width: 112px;
    height: 35px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    line-height: 35px;
    cursor: pointer;
}

#u301 {
    top: 490px;
}

#u304 {
    position: absolute;
    left: 20px;
    top: 530px;
    width: 1280px;
    height: 246px;
}

#u304_div {
    height: 246px;
}

#u305 {
    position: absolute;
    left: 43px;
    top: 545px;
    height: 215px;
    width: 1231px;
}

#u305 table{
    border-collapse: collapse;
    border: 1px solid #D5D4D4;
    width: 1231px;
}

#u305 td {
    border: 1px solid #D5D4D4;
    height: 35px;
    color: #666666;
    border-color: #d5d4d4;
    background-color: #FFFFFF;
}

#u401 {
    top: 790px;
}

#u401_txt {
    position: absolute;
    left: 95px;
    top: 10px;
    width: 85px;
    height: 21px;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: red;
}

#u404 {
    position: absolute;
    left: 20px;
    top: 830px;
    width: 1280px;
    height: 240px;
}

#u404_div {
    height: 240px;
}

/*
#u405 {
    position: absolute;
    left: 43px;
    top: 900px;
    height: 215px;
    width: 1231px;
}

#u405 table{
    border-collapse: collapse;
    border: 1px solid #D5D4D4;
    width: 1231px;
}

#u405 td {
    border: 1px solid #D5D4D4;
    height: 35px;
    color: #666666;
    border-color: #d5d4d4;
    background-color: #FFFFFF;
}
*/

#u406 {
    position: absolute;
    left: 43px;
    top: 855px;
}

#u407 {
    position: absolute;
    left: 73px;
    top: 858px;
    font-size: 14px;
}

#u501 {
    top: 1181px;
}

#u504 {
    position: absolute;
    left: 20px;
    top: 1220px;
    width: 1280px;
    height: 164px;
}

#u504_div {
    height: 164px;
}

#u505 {
    position: absolute;
    left: 43px;
    top: 1245px;
    height: 116px;
    width: 1231px;
}

#u505 table{
    border-collapse: collapse;
    border: 1px solid #D5D4D4;
    width: 1231px;
}

#u505 td {
    border: 1px solid #D5D4D4;
    height: 35px;
    color: #666666;
    border-color: #d5d4d4;
    background-color: #FFFFFF;
}

#u601 {
    top: 1395px;
}

#u604 {
    position: absolute;
    left: 20px;
    top: 1434px;
    width: 1280px;
    height: 221px;
}

#u604_div {
    height: 221px;
}

/*#u605 {
    position: absolute;
    left: 43px;
    top: 1454px;
    height: 110px;
    width: 1231px;
}*/

/*#u605 table{
    border-collapse: collapse;
    border: 1px solid #D5D4D4;
    width: 1231px;
}

#u605 td {
    border: 1px solid #D5D4D4;
    height: 35px;
    color: #666666;
    border-color: #d5d4d4;
    background-color: #FFFFFF;
}*/
/*#collect_recode {
    visibility: hidden;
    position: fixed;
    left: 270px;
    top: 70px;
    width: 819px;
    height: 469px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    border-radius: 2px;
    z-index: 1;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}*/
#collect_img{
    position: absolute;
    left: 13px;
    top: 12px;
    width: 16px;
    height: 16px;
}
.collect_img1 {
    position: absolute;
    left: 13px;
    top: 12px;
    width: 16px;
    height: 16px;
}
#collect_txt {
    position: absolute;
    left: 4px;
    top: 8px;
    width: 117px;
    height: 30px;
    font-family: '微软雅黑 Bold', '微软雅黑';
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
}
#collect_img2 {
    position: absolute;
    left: 760px;
    top: 9px;
    width: 16px;
    height: 16px;
    overflow-x: hidden;
    background-image: none;
    cursor: pointer;
}
#collect_imga {
    position: absolute;
    left: 0px;
    top: -32px;
    width: 16px;
    height: 384px;
}
#collect_img3 {
    position: absolute;
    left: 787px;
    top: 9px;
    width: 16px;
    height: 16px;
    overflow-x: hidden;
    background-image: none;
    cursor: pointer;
}
#collect_div2 {
    position: absolute;
    left: 7px;
    top: 32px;
    width: 802px;
    height: 427px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
}
#collect_txt2 {
    position: absolute;
    left: 20px;
    top: 40px;
    width: 80px;
    font-size: 14px;
}
#collect_txt3 textarea {
     position: absolute;
     left: 100px;
     top: 40px;
     width: 593px;
     height: 276px;
     font-family: 'Arial Normal', 'Arial';
     font-weight: 400;
     font-style: normal;
     font-size: 13px;
     text-decoration: none;
     text-align: left;
     resize: none;
 }
#collect_dtn1 {
    position: absolute;
    left: 130px;
    top: 350px;
    width: 112px;
    height: 35px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: '微软雅黑 Regular', '微软雅黑';
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
    line-height: 35px;
    cursor: pointer;
}
#collect_dtn2 {
     position: absolute;
     left: 280px;
     top: 350px;
     width: 112px;
     height: 35px;
     background: inherit;
     background-color: rgba(255, 255, 255, 1);
     box-sizing: border-box;
     border-width: 1px;
     border-style: solid;
     border-color: rgba(204, 204, 204, 1);
     border-radius: 5px;
     -moz-box-shadow: none;
     -webkit-box-shadow: none;
     box-shadow: none;
     font-family: '微软雅黑 Regular', '微软雅黑';
     font-weight: 400;
     font-style: normal;
     line-height: 35px;
     cursor: pointer;
 }
/*
#u2547_div {
    display: none;
    position: fixed;
    left: 270px;
    top: 70px;
    width: 842px;
    height: 549px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    border-radius: 2px;
    z-index: 1;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
*/

#u2547_txt {
    position: absolute;
    left: 38px;
    top: -3px;
    width: 117px;
    height: 30px;
    font-family: '微软雅黑 Bold', '微软雅黑';
    font-weight: 700;
    color: #FFFFFF;
    font-size: 13px;
}

#u2547_img1 {
    position: absolute;
    left: 780px;
    top: 9px;
    width: 16px;
    height: 16px;
    overflow-x: hidden;
    background-image: none;
    cursor: pointer;
}
/*

#u2547_imga {
    position: absolute;
    left: 0px;
    top: -32px;
    width: 16px;
    height: 384px;
}
*/

#u2547_img2 {
    position: absolute;
    left: 807px;
    top: 9px;
    width: 16px;
    height: 16px;
    overflow-x: hidden;
    background-image: none;
    cursor: pointer;
}

#u2547_div2 {
    position: absolute;
    left: 7px;
    top: 32px;
    width: 826px;
    height: 504px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
}

.u2547_div3 {
    position: absolute;
    left: 25px;
    top: 20px;
    width: 777px;
    height: 417px;
    background-color: rgba(102, 102, 102, 1);
    line-height: 417px;
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;
}

#u2547_btn1 {
    position: absolute;
    left: 180px;
    top: 450px;
    height: 33px;
    width: 70px;
    background-color: rgba(238, 238, 238, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    line-height: 33px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}

#u2547_txt2 {
    position: absolute;
    left: 305px;
    top: 450px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    font-size: 14px;
    font-weight: 400;
}

#u2547_span {
    margin-left: 20px;
}

#u2547_btn2 {
    position: absolute;
    left: 535px;
    top: 450px;
    height: 33px;
    width: 70px;
    background-color: rgba(238, 238, 238, 1);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(204, 204, 204, 1);
    line-height: 33px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
}
#u2546_div {
    display: none;
    position: fixed;
    left: 270px;
    top: 70px;
    width: 819px;
    height: 469px;
    background: inherit;
    background-color: rgba(204, 204, 204, 1);
    border: none;
    border-radius: 2px;
    z-index: 1;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#u2546_img1 {
    position: absolute;
    left: 13px;
    top: 10px;
    width: 16px;
    height: 16px;
}

#u2546_txt {
    position: absolute;
    left: 38px;
    top: -3px;
    width: 117px;
    height: 30px;
    font-family: '微软雅黑 Bold', '微软雅黑';
    font-weight: 700;
    color: #FFFFFF;
    font-size: 13px;
}

#u2546_img2 {
    position: absolute;
    left: 760px;
    top: 9px;
    width: 16px;
    height: 16px;
    overflow-x: hidden;
    background-image: none;
    cursor: pointer;
}

#u2546_imga {
    position: absolute;
    left: 0px;
    top: -32px;
    width: 16px;
    height: 384px;
}

#u2546_img3 {
    position: absolute;
    left: 787px;
    top: 9px;
    width: 16px;
    height: 16px;
    overflow-x: hidden;
    background-image: none;
    cursor: pointer;
}

#u2546_div2 {
    position: absolute;
    left: 7px;
    top: 32px;
    width: 802px;
    height: 427px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    border: none;
}

#u2546_txt2 {
    position: absolute;
    left: 25px;
    top: 10px;
    font-size: 14px;
}

#u2546_tab {
    position: absolute;
    left: 25px;
    top: 90px;
    font-size: 14px;
}

#u2546_tab table{
    border-collapse: collapse;
    border: 1px solid #D5D4D4;
    width: 750px;
    table-layout: fixed;
    text-align: center;
}

#u2546_tab td {
    border: 1px solid #D5D4D4;
    height: 35px;
    border-color: #d5d4d4;
    background-color: #FFFFFF;
}
#u2545_textarea{
    height: 300px;
}