<!DOCTYPE html>
<html>
<head>
	<title>贷后管理</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/font-awesome.min.css">
	<link rel="stylesheet" href="../../css/AdminLTE.min.css">
	<!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="../../css/all-skins.min.css">
    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../css/bootstrap-table.min.css">
    <link rel="stylesheet" href="../../plugins/datepicker/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/particulars/particulars.css">


	<script src="../../libs/jquery.min.js"></script>
	<script src="../../plugins/layer/layer.js"></script>
	<script src="../../libs/bootstrap.min.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../libs/bootstrap-table.min.js"></script>
	<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
	<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
	<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
	<script src="../../js/common.js"></script>
	<script src="../../plugins/datepicker/bootstrap-datepicker.js"></script>
	<script src="../../plugins/datepicker/bootstrap-datepicker.zh-CN.js"></script>

<style>
	div.form-group {margin:5px;}
</style>
</head>
<body>

<div id="rrapp" v-cloak>
    <div id="test">
        <div class="grid-btn form-inline">
            <div class="form-group ">
                <label class="control-label">用户姓名：</label>
                <input type="text" class="form-control" v-model="q.realName" id="realName">
            </div>
            <div class="form-group ">
                <label class="control-label">手机号码：</label>
                <input type="text" class="form-control" v-model="q.telNo" id="telNo">
            </div>
            <div class="form-group ">
                <label class="control-label">还款时间：</label>
                <div class="input-daterange input-group">
                    <input type="text" class="form-control" id="cycDateBegin" v-model="q.cycDateBegin" readonly="true"/>
                    <span class="input-group-addon">至</span>
                    <input type="text" class="form-control" id="cycDateEnd" v-model="q.cycDateEnd" readonly="true"/>
                </div>
                <!--<input type="hidden" class="form-control" id="cycDateBeginHid" v-model="q.cycDateBegin" />-->
            </div>
            <div class="form-group ">
                <label class="control-label">完款状态：</label>
                <select class="form-control" v-model="q.status" id="statusSel">
                    <option value="">=全部=</option>
                    <option value="1">发起借款</option>
                    <option value="2">已审核</option>
                    <option value="3">未通过</option>
                    <option value="4">已放款</option>
                    <option value="5">待还款</option>
                    <option value="6">已完成</option>
                    <option value="7">已逾期</option>
                    <option value="8">严重逾期</option>
                </select>
            </div>
            <div class="form-group ">
                <label class="control-label">标的ID：</label>
                <input type="text" class="form-control" v-model="q.borrowId" id="borrowId">
            </div>
            <div class="form-group ">
                <label class="control-label">平台来源：</label>
                <select class="form-control" v-model="q.channelId" id="channelSel">
                    <option value="">=全部=</option>
                </select>
            </div>
            <div class="form-group ">
                <label class="control-label">逾期天数：</label>
                <input type="text" maxlength="5" class="form-control" v-model="q.overDueDaysBegin" id="overDueDaysBegin"> ~
                <input type="text" maxlength="5" class="form-control" v-model="q.overDueDaysEnd" id="overDueDaysEnd">
            </div>

            <div class="form-group ">
                <label class="control-label">跟踪人：</label>
                <input type="text" class="form-control" v-model="q.trackerName" id="trackerName">
            </div>

            <div class="form-group ">
                <a class="btn btn-primary" @click="query">查询</a>
            </div>
        </div>

        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

</div>
<script src="../../js/inputValidate.js"></script>
<script src="../../js/postLoan/infos.js"></script>
<script type="text/javascript">
    $('#cycDateBegin').datepicker({
        language:  'zh-CN',
        todayBtn:  'linked',
        autoclose: true,
        todayHighlight: 1,
        startView: 0,
        format:'yyyy-mm-dd',
        clearBtn:true,
        forceParse:true
    }).on('changeDate',function(e){
        var startTime = e.date;
        $('#cycDateEnd').datepicker('setStartDate',startTime);
    });

    $('#cycDateEnd').datepicker({
        language:  'zh-CN',
        todayBtn:  'linked',
        autoclose: true,
        todayHighlight: 1,
        startView: 0,
        format:'yyyy-mm-dd',
        clearBtn:true,
        forceParse:true
    }).on('changeDate',function(e){
        var endTime = e.date;
        $('#cycDateBegin').datepicker('setEndDate',endTime);
    });
</script>
</body>
</html>