<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>标的详情</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/AdminLTE.min.css">

    <link rel="stylesheet" href="../../css/all-skins.min.css">

    <link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">

    <link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">

    <link rel="stylesheet" href="../../css/bootstrap-table.min.css">

    <link rel="stylesheet" href="../../plugins/datepicker/bootstrap-datepicker.min.css">

    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/particulars/ionicons.min.css">

    <link rel="stylesheet" href="../../css/particulars/particulars.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <script src="../../libs/jquery.min.js"></script>
    <script src="../../plugins/layer/layer.js"></script>
    <script src="../../libs/bootstrap.min.js"></script>
    <script src="../../libs/vue.min.js"></script>
    <script src="../../libs/bootstrap-table.min.js"></script>
    <script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../js/common.js"></script>
    <script src="../../plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="../../plugins/datepicker/bootstrap-datepicker.zh-CN.js"></script>

    <style type="text/css">
        table td {
            background-color: white;
        }

        table th {
            text-align: center;
        }

        .xinzhen {
            position: absolute;
            top: 2px;
            left: 100px;

        }

        .center_tianc {
            position: absolute;
            left: 300px;
            top: 100px;
            z-index: 2;
        }

        .phone_cona {
            position: absolute;
            left: 300px;
            top: 600px;
            z-index: 2;
        }

        #collect_textarea {
            height: 300px;
        }

        #phone_detail {
            position: absolute;
            left: 200px;
            top: 200px;
            z-index: 1;
        }
    </style>
</head>
<body>

<div class="col-md-12">
    <div class="box box-default box-solid" id="borrowMesag">
        <div class="box-header with-border">
            <h3 class="box-title">借款记录</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>

                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="background-color:#EAEAEA;">
            <table class="table table-bordered" style="text-align:center">
                <tr>
                    <th style="display: none" v-text="borrowInfo.userId"><!--{{borrowInfo.userId}--></th>
                    <th>标的ID</th>
                    <th>标的来源</th>
                    <th>借款期限</th>
                    <th>借款金额</th>
                    <th>借款利率 %</th>
                    <th>服务费%</th>
                    <th>到手金额</th>
                    <th>应还款时间</th>
                </tr>
                <tr>
                    <td id="borid" v-text="borrowInfo.borrowId"></td>

                    <td v-if="borrowInfo.channelName!=null">{{borrowInfo.channelName}}</td>
                    <td v-else="borrowInfo.channelName==''">--</td>

                    <td v-if="borrowInfo.deadline==null">--</td>
                    <td v-else="borrowInfo.deadline!=null">{{borrowInfo.deadline}}</td>

                    <td v-if="borrowInfo.amount==null">--</td>
                    <td v-else="borrowInfo.amount!=null">{{borrowInfo.amount}}</td>

                    <td v-if="borrowInfo.lendingrate==null">--</td>
                    <td v-else="borrowInfo.lendingrate!=null">{{borrowInfo.lendingrate}}</td>

                    <td v-if="borrowInfo.servicecharge==null">--</td>
                    <td v-else="borrowInfo.servicecharge!=null">{{borrowInfo.servicecharge}}</td>

                    <td v-if="borrowInfo.realAmount==null">--</td>
                    <td v-else="borrowInfo.realAmount!=null">{{borrowInfo.realAmount}}</td>

                    <td v-if="borrowInfo.cycDate==null">--</td>
                    <td v-else="borrowInfo.cycDate!=null">{{borrowInfo.cycDate}}</td>
                </tr>
                <tr>
                    <th>应还金额</th>
                    <th>实际还款时间</th>
                    <th>实际还款金额</th>
                    <th>状态</th>
                    <th>逾期天数</th>
                    <th>罚息</th>
                    <th>天秤反欺诈结果</th>
                </tr>
                <tr>
                    <td v-text="borrowInfo.cost">还款金额</td>
                    <td v-if="borrowInfo.date==null">--</td>
                    <td v-else="borrowInfo.date!=null">{{borrowInfo.realityDate}}</td>

                    <td v-if="borrowInfo.actualamount!=null">{{borrowInfo.actualamount}}</td>
                    <td v-else="borrowInfo.actualamount==null">{{borrowInfo.amount}}</td>
                    <td v-if="borrowInfo.status==1">发起借款</td>
                    <td v-if="borrowInfo.status==2">已审核</td>
                    <td v-if="borrowInfo.status==3">未通过</td>
                    <td v-if="borrowInfo.status==4">已放款</td>
                    <td v-if="borrowInfo.status==5">待还款</td>
                    <td v-if="borrowInfo.status==6"><span style="color: red">已完成</span></td>
                    <td v-if="borrowInfo.status==7"><span style="color: red">逾期</span></td>
                    <td v-if="borrowInfo.status==8"><span style="color: red">严重逾期</span></td>
                    <td v-if="borrowInfo.day==null">0</td>
                    <td v-else="borrowInfo.day!=null"><span style="color: red">{{borrowInfo.day}}</span></td>
                    <td v-if="borrowInfo.penaltyAmount==null">0</td>
                    <td v-else="borrowInfo.penaltyAmount!=null"><span
                            style="color:red;">{{borrowInfo.penaltyAmount}}</span></td>
                    <td><a onclick="check_libra()">查看详情</a></td>
                </tr>

            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>


<!--天秤反诈骗-->
<!--<div id="u2546_tab">-->

<div class="col-md-7 center_tianc" style="display: none" id="tian_chen">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">查看详情</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" onclick="colse_libra()"><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body chart-responsive" id="skyChen">
            <div class="chart" id="revenue-chart" style="height: 400px;">
                <p>审核时间：2017-5-15 10:23:21
                </p>
                <p>天秤反欺诈检测结果：<span>不通过</span></p>
                <table class="table table-bordered" style="text-align:center">
                    <tr>
                        <td>检测项</td>
                        <td>检测结果</td>
                        <td>说明</td>
                    </tr>
                    <tr>
                        <td>年龄检测</td>
                        <td v-if="apiDate.age <=17 ">不通过</td>
                        <td v-else-if="apiDate.age>=18">通过</td>
                        <td v-else="apiDate.age==null">未通过</td>
                        <td v-if="apiDate.age <=17 ">小于18周岁</td>
                        <td v-else-if="apiDate.age>=18">大于18周岁</td>
                        <td v-else="apiDate.age==null">未检测</td>
                    </tr>
                    <tr>
                        <td>天秤黑名单</td>
                        <td v-if="apiDate.datas==0&&apiDate.selfltit==0&&apiDate.deadbealfit==0">通过</td>
                        <td v-if="apiDate.datas==0&&apiDate.selfltit==0&&apiDate.deadbealfit==0">无不良记录</td>
                        <!--  <td v-else="apiDate.datas!=0&&apiDate.selfltit!=0&&apiDate.deadbealfit!=0">不通过</td>
                          <td v-else="apiDate.datas!=0&&apiDate.selfltit!=0&&apiDate.deadbealfit!=0">有不良记录</td>-->
                        <td v-if="apiDate.datas==null">不通过</td>
                        <td v-if="apiDate.datas==null">未检测</td>
                    </tr>
                    <tr>
                        <td>百融特殊名单</td>
                        <td v-if="apiDate.specialList_c == 0">通过</td>
                        <td v-else="apiDate.specialList_c==0">未匹配上不良记录</td>
                        <!--   <td v-if="apiDate.specialList_c == 1">不通过</td>
                           <td v-else="apiDate.specialList_c==1">有不良记录</td>
                           <td v-if="apiDate.specialList_c == 99">不通过</td>
                           <td v-else="apiDate.specialList_c==99">系统异常</td>
                           <td v-if="apiDate.specialList_c == null">不通过</td>
                           <td v-else="apiDate.specialList_c==null">没有选择该报告或输入信息不充足</td>
                           <td>返回结果（）</td>-->
                    </tr>
                    <tr>
                        <td>前海征信黑名单</td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td>芝麻分≥600分</td>
                        <td v-if="apiDate.zmscore>=600 && apiDate.zmscore!=null">通过</td>
                        <td v-if="apiDate.zmscore<600 && apiDate.zmscore!=null">未通过</td>
                        <td>你目前的芝麻信用分为：{{apiDate.zmscore}}</td>
                    </tr>
                    <tr>
                        <td>手机在网时长≥6个月</td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td>手机号码是否实名</td>
                        <td v-if="apiDate.phone_result =='T'">已实名认证</td>
                        <td v-else-if="apiDate.phone_result =='F'">未实名认证</td>
                        <td v-else="apiDate.phone_result == 'N'">无记录</td>
                        <td>返回结果（{{apiDate.phone_result}}）</td>
                    </tr>

                </table>

            </div>

        </div>
    </div>
</div>

<!--
</div>
-->

<!--新增公告（编辑）-->
<div class="col-md-7 center_tianc" id="u2545_div" style="display: none">
    <!-- AREA CHART -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">新增催收记录</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" onclick="colseDiv()"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body chart-responsive">
            <div class="chart" style="height: 400px;">
                <span>催收情况：</span>
                <textarea class="form-control" rows="8" id="u2545_textarea"></textarea>
                <button type="submit" class="btn btn-info pull-left " onclick="bulletinSave()">保存</button>
                <button type="submit" class="btn btn-default pull-right" onclick="colseDiv()">取消</button>
            </div>
        </div>

    </div>
</div>


<!--新增公告-->
<div class="col-md-12">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">新增公告</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>

                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <button class="btn btn-primary xinzhen" onclick="showDiv()">编辑</button>
        <div class="box-body" style="background-color:#EAEAEA;" id="vmGongGao">

            <textarea class="form-control" rows="8" id="u2226_span">{{bulletin_text}}</textarea>

        </div>
    </div>
</div>

<!--查看身份证-->
<div class="col-md-6 center_tianc" id="identity_tup" style="display: none">
    <!-- AREA CHART -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">身份证图片</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" onclick="colseident()"><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body chart-responsive" id="u2547_div">
            <div class="chart" style="height: 500px;">
                <img id="toggle_pri" v-bind:src="identity_card.frontCardBucket_url"
                     style="width: 700px; height: 400px;">

                <button id="u2547_btn1" onclick="previous_idc()" style="position: absolute;margin-left: -100px;">上一张<
                </button>
                <div id="u2547_txt2" style="position: absolute;margin-left: -50px;">
                    <span id="identity_text">1、身份证正面照</span>
                    <a id="u2547_span">共2张</a>
                </div>
                <button id="u2547_btn2" onclick="next_idc()">下一张 ></button>
            </div>
        </div>

    </div>
</div>


<!--通话记录详情-->
<div class="col-md-9 " id="phone_detail" style="display: none">
    <!-- AREA CHART -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">通话记录详情</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" onclick="closephonewin()"><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body chart-responsive">
            <div class="chart" style="height: 600px;" id="call_tx">
                <div style="border:1px solid #888888; height: 150px;">
                    <p>运营商授权状态：<span>已验证（授权成功）</span></p>
                    <p>授权时间：：<span>2015-10-12  10:22:22</span></p>
                    <p>手机入网时间（时长）：<span>2015-10-12（65个月28天）</span></p>
                    <p>近6个月有效通话次数≥4的手机号码数量：<span>45</span></p>
                </div>

                <span>状态：<select>
                    <option>你我金融注册</option>
                    <option>团贷网注册</option>
                    <option>预留联系人</option>
                    <option>发布借款</option>
                    <option>还款逾期</option>
                </select>
                </span>

                <table class="table table-bordered" style="text-align:center">
                    <tr>
                        <th>序号</th>
                        <th>通话号码</th>
                        <th>通话地点</th>
                        <th>通话号码归属地</th>
                        <th>联系次数</th>
                        <th>主叫次数</th>
                        <th>被叫次数</th>
                        <th>累计通话时间</th>
                        <th>6个月内首次通话时间</th>
                        <th> 最后通话时间</th>
                    </tr>
                    <tr v-for="(item,index) in items">
                        <td>{{ index+1 }}</td>
                        <td>{{ item.phone }}</td>
                        <td>
                            <span>{{ item.callPlaces }}</span>
                            <span>{{item.placesTimes}}</span>
                        </td>
                        <td>{{ item.phonePlace }}</td>
                        <td>{{ item.concactTimes }}</td>
                        <td>{{ item.callTimes }}</td>
                        <td>{{ item.calledTimes }}</td>
                        <td>{{ item.timeDuration }}</td>
                        <td>{{ item.firstCallTime }}</td>
                        <td>{{ item.lastCallTime }}</td>
                    </tr>
                </table>
                <div style="position: absolute;left: 450px;">
                    <ul class="pagination">
                        <li>111</li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>


<!--通话记录详情-->

<div class="col-md-9 phone_cona" id="phoneContact" style="display: none">
    <!-- AREA CHART -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">通话记录详情</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" onclick="closepbone()"><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body chart-responsive" id="phone_dx">
            <div class="chart" style="height: 350px;">
             <span>
             	状态：
             	<select>
                <option>你我金融注册</option>
             	<option>团贷网注册</option>
             	<option>预留联系人</option>
             	<option>发布借款</option>
             	<option>还款逾期</option>
             	</select>
             </span>

                <span>
             	是否正常：
             	<select>
                <option>正常</option>
             	<option>异常（短号）</option>
             	<option>异常（格式错误）</option>
             	<option> 异常（敏感词汇）</option>
             	<option> 异常（重复号码）</option>

             	</select>
             </span>

                <table class="table table-bordered" style="text-align:center" id="contact_dt">
                    <tr>
                        <th>序号</th>
                        <th>通话录姓名</th>
                        <th>通讯录号码</th>
                        <th> 是否正常</th>
                        <th>更新时间</th>
                        <th>6个月内通话次数</th>
                    </tr>
                    <tr v-for="(item,index) in items">
                        <td> {{ (index+1) }}</td>
                        <td> {{ item.phoneName}}</td>
                        <td> {{ item.phoneNum}}</td>
                        <td> {{ item.phoneStatus}}</td>
                        <td> {{ item.updateTime}}</td>
                        <td> {{ item.concactTimes}}</td>
                    </tr>
                </table>
                <div style="position: absolute;left: 450px;">
                    <ul class="pagination">
                        <li>111</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
<!--基本信息-->
<div class="col-md-12">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">基本信息</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <div class="box-body" style="background-color:#EAEAEA;" id="tableuser">
            <table class="table table-bordered" style="text-align:center">
                <tr>
                    <td>姓名</td>
                    <td><a onclick="onDentity()" style="text-decoration: underline ">{{userInfo.realName}}</a>
                        <span v-if="userInfo.identityState==1" style="color: #00B83F">√已实名认证 </span>
                        <span v-if="userInfo.identityState==1"
                              style="color: #00B83F">√已活体检测验证({{userInfo.verifyScore}})</span>
                    </td>
                    <td>手机号码</td>
                    <td v-text="userInfo.telNo"></td>
                </tr>
                <tr>
                    <td>性别</td>
                    <td v-if="userInfo.sex==1">男</td>
                    <td v-else-if="userInfo.sex==0">女</td>
                    <td v-else="userInfo.sex==null">--</td>

                    <td>年龄</td>
                    <td v-if="userInfo.age==null">--</td>
                    <td v-else="userInfo.age>0">{{userInfo.age}}</td>
                </tr>
                <tr>
                    <td>身份证号</td>
                    <td v-if="userInfo.identityCard==''">--</td>
                    <td v-else="userInfo.identityCard !=null">{{userInfo.identityCard}}</td>

                    <td>户籍地址</td>
                    <td v-if="userInfo.address!=null">{{userInfo.address}}</td>
                    <td v-else="userInfo.address==''">--</td>

                </tr>
                <tr>
                    <td>授信额度</td>
                    <td v-if="userInfo.creditAmount!=null">{{userInfo.creditAmount}}</td>
                    <td v-else="userInfo.creditAmount==''">未授信</td>
                    <!--<td v-text="userInfo.creditAmount"></td>-->
                    <td>可用额度</td>
                    <td v-if="userInfo.usableAmount<=0">3000</td>
                    <td v-else="userInfo.usableAmount!=null">{{userInfo.usableAmount}}</td>
                </tr>
                <tr>
                    <td>芝麻分</td>
                    <td v-if="userInfo.zmscore!=null">{{userInfo.zmscore}}</td>
                    <td v-else="userInfo.zmscore==''"></td>
                    <td>平台来源</td>
                    <td v-if="userInfo.channelName!=null">{{userInfo.channelName}}</td>
                    <td v-else="userInfo.channelName==''">--</td>
                </tr>
                <tr>
                    <td>通话记录</td>
                    <td><a onclick="phone_detail()">查看详情</a></td>
                    <td>银行卡号</td>
                    <td v-if="userInfo.bankNo==''">--</td>
                    <td v-else="userInfo.bankNo!=null">{{userInfo.bankNo}}({{userInfo.bankName}})</td>
                </tr>

            </table>

        </div>
    </div>
</div>

<!--预留紧急联系人-->
<div class="col-md-12">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">预留紧急联系人</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>

                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div id="contact_ji">
            <span style="color: red;position: absolute;top: 4px;left: 150px;font-size: 20px;"
                  v-if="items==''">【未填写】</span>
            <div class="box-body" style="background-color:#EAEAEA;">

                <span style=" position:relative;left: 60px;">匹配通话记录</span>
                <table class="table table-bordered" style="text-align:center">
                    <tr>
                        <td>序号</td>
                        <td>联系人名称</td>
                        <td>关系</td>
                        <td>手机号码</td>
                    </tr>
                    <tr v-for="(item,index) in items">
                        <td> {{ (index+1) }}</td>
                        <td> {{ item.contactName}}</td>
                        <td> {{ item.contactRelationShip}}</td>
                        <td> {{ item.contactTelNo}}</td>
                    </tr>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <!-- /.box -->
</div>

<!--通訊錄-->
<div class="col-md-12">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">通讯录</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>

                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="background-color:#EAEAEA;">
            <table class="table table-bordered" style="text-align:center">
                <tr>
                    <td>序号</td>
                    <td>通讯录名称</td>
                    <td>有通话记录（通话率）</td>
                    <td>通讯录详情</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>通讯录1</td>
                    <td>3%</td>
                    <td><a onclick="phone_contact()">查看</a></td>
                </tr>


            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>


<!--新增催收情况-->
<div class="col-md-7 center_tianc" id="recode_qk" style="display: none">
    <!-- AREA CHART -->
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">新增催收记录</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" onclick="recode_colse()"><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <div class="box-body chart-responsive">
            <div class="chart" style="height: 400px;">
                <span>催收情况：</span>
                <textarea class="form-control" rows="8" id="collect_textarea"></textarea>
                <button type="submit" class="btn btn-info pull-left " onclick="recode_save()">保存</button>
                <button type="submit" class="btn btn-default pull-right" onclick="recode_colse()">取消</button>
            </div>
        </div>

    </div>
</div>


<!--催收记录
-->
<div class="col-md-12">
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">催收记录
            </h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>

                </button>
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <button class="btn btn-primary xinzhen" onclick="append_recode()">新增</button>
        <div class="box-body" style="background-color:#EAEAEA;" id="recode_dt">
            <table class="table table-bordered" style="text-align:center">
                <tr>
                    <td>序号</td>
                    <td>催收时间</td>
                    <td>催收情况</td>
                    <td>短信催收</td>
                    <td>操作人</td>
                </tr>
                <tr v-for="(item,index) in items">
                    <td>{{(index+1)}}</td>
                    <td>{{item.createDate}}</td>
                    <td>{{item.collectionInfo}}</td>
                    <td v-if="item.isSend==0"> 未发送</td>
                    <td v-if="item.isSend==1">已发送</td>
                    <td>{{item.operatorId}}</td>
                </tr>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>


<script src="../../js/particulars/particular-mark.js"></script>
<script src="../../js/particulars/public-particulars.js"></script>
<script src="../../js/particulars/fastclick.js"></script>
<script src="../../js/particulars/demo.js"></script>
<script src="../../js/particulars/adminlte.min.js"></script>
</body>
</html>